<h1>Thêm Nhà Khoa Học</h1>
<form action="/inventors" method="post">
  <p> <input type="text" name="first" placeholder="First name" /></p>
  <p> <input type="text" name="last" placeholder="Last name" /></p>
  <p> <input type="number" name="year" placeholder="Birth year " /> </p>
  <p> <input type="number" name="passed" placeholder="Passed year" /> </p>
  <p> <button type="submit">Add Inventor</button> </p>
</form>